extends ../layout/index

block contenido
	div(class="py-10")
		h1(class="text-4xl my-10 font-extrabold text-center") Bienes
			span(class="font-normal") Raices
		h2(class="text-center text-2xl font-extrabold")= pagina
		if errores
				div(class="max-w-md mx-auto my-10")
					each error in errores 
						p(class="bg-red-300 text-black text-xs text-left p-2 mb-1 font-bold border-red-600 border-l-8")= error.msg
		div(class="mt-8 mx-auto max-w-lg")
			div(class="bg-white py-8 px-4 shadow")
				form(novalidate method='POST' class="space-y-5")
					input(type="hidden" name="_csrf" value=csrfToken)
					div  
						label(for="password" class="block text-sm uppercase text-gray-500 mb-2 font-bold") Nueva Contraseña
						input(type="password" id="password" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400"
						placeholder="Ingresa una nueva Contraseña" name="password")
						label(for="password2" class="block text-sm uppercase text-gray-500 mb-2 font-bold mt-5") Repite tu Contraseña
						input(type="password" id="password2" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400"
						placeholder="Repite tu Contraseña" name="password2")
					input(type="submit" value="Reestablecer Contraseña" class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer")
					div(class="flex items-center justify-between")
						a(href="/auth/registro" class="text-gray-500 text-xs") ¿Aún no tienes una Cuenta? 
							b Crea una
						a(href="/auth/login" class="text-gray-500 text-xs") ¿Ya tienes una Cuenta? 
							b Inicia Sesión